.channel-info-column, .main-page {
  height: 100%;
  width: 100%;
  background-color: #36393F;
}

.current-channel-info {
  height: 48px;
  border-bottom: 1px solid #202225;
  box-sizing: border-box;
  padding: 0 12px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Whitney-SemiBold';
}
