
.channel-list-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #2F3136;
  color: #f6f6f77a;
  font-family: 'Whitney-SemiBold';
  min-height: 1px;
  align-items: center;

}
.channel-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.channel-list-item {
  display: flex;
  flex-direction: row;
  padding-right: 5px;
  text-overflow: ellipsis;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  margin: 1px 8px 1px 8px;
  padding: 8px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.channel-list-item:hover {
  color: #fff;
}

.channel-list-item.active {
  background-color: #41454C;
}

.new-channel-button {
  height: 32px;
  background-color: #41454C;
  padding: 0;
  width: 75%;
  margin-bottom: 10px;
}

.create-channel-container {
  background-color: #36393f;
  width: 440px;
  max-height: 454px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
}

.create-channel-title {
  padding: 20px;
  width: 100%;
  font-family: 'Whitney-SemiBold';
  color: #fff;
  display: flex;
  justify-content: center;
}

.create-channel-input-container {
  width: 100%;
}

.create-channel-buttons {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  font-size: 14px;
}

.cancel-button {
  padding: 2px 16px;
  height: 34px;
  width: 64px;
  background-color: #36393f;
}

.cancel-button:hover{
  background-color: #36393f;
  text-decoration: underline;
}

.create-channel-button {
  padding: 2px 16px;
  height: 34px;
}
