.chat-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.chat-window {
  height: 80%;
  width: 100%;
}

.chat-input-container {
  width: 100%;
  height: 94px;

}

.chat-input {
  width: 100%;
  background-color: #474A52;
}
