.server-show {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: #2F3136;
}

.current-server-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  min-height: 48px;
  max-height: 48px;
  width: 100%;
  padding: 0 12px 0 16px;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  color: #fff;
  transition: background-color .15s ease;
  background-color: #2C2F33;
  border-bottom: 1px solid #202225;
}

.current-server-info > span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  font-family: 'Whitney-SemiBold';
}

.current-server-info:hover {
  background-color: #202225;
  cursor: pointer;
}

.expand-arrow {
  width: auto;
  height: 14px;
  opacity: .5;
}

.chat-and-members-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.chat-and-members-container > .user-show-container {
  width: 240px;
}

.chat-window {
  width: 100%;
}
